<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum">
    <meta name="author" content="Team-Avenue">
    <link rel="shortcut icon" href="assets/home.png">
    <title>Avenue | Sign Up</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="css/reg.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col s12 m4 offset-m4 topImg">
                <img src="/assets/Icon.png" class="responsive-img" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 offset-m3 outerBox">
                <div class="outerBox2">
                    <div class="mainBox">
                    <div class="col s6 center pointer ">
                        <h5 class="underLine active signupBtn">SIGNUP</h5>


                    </div>
                    <div class="col s6 center pointer ">
                        <h5 class="underLine loginBtn">LOGIN</h5>
                    </div>

                    <div id="signupForm" class="col s12" style="padding: 0;" style="display: none !important;">
                        <form action="/signup" method="post">
                            <div class="input-field center">
                                <input placeholder="Full Name"  name="name" type="text" class="validate center">
                                {{!-- <label for="first_name">First Name</label> --}}
                            </div>

                            <div class="input-field center">
                                <input placeholder="Email"  name="email" type="email" class="validate center">
                                {{!-- <label for="first_name">First Name</label> --}}
                            </div>

                            <div class="input-field center">
                                <input placeholder="Phone Number"  name="contact" type="text" class="validate center">
                                {{!-- <label for="first_name">First Name</label> --}}
                            </div>

                            <div class="input-field center">
                                <input placeholder="Password"  name="password" type="password" class="validate center">
                                {{!-- <label for="first_name">First Name</label> --}}
                            </div>

                            <div class="input-field center col s12" style="padding: 0;">
                                <button style="padding: 0; background-color: #e15556;" class="btn waves-effect waves-light  col s12 activeBkg" type="submit"> <span class="interText">SIGNUP</span></button>
                            </div>
                        </form>
                    </div>

                    <div id="loginForm" class="col s12" style="padding: 0;" style="display: block !important;">
                        <h6 class="center active">{{code}}</h6>
                        <form action="/login" method="post">
                            <div class="input-field center">
                                <input placeholder="Email"  name="email" type="email" class="validate center">
                                {{!-- <label for="first_name">First Name</label> --}}
                            </div>

                            <div class="input-field center">
                                <input placeholder="Password"  name="password" type="password" class="validate center">
                                {{!-- <label for="first_name">First Name</label> --}}
                            </div>

                            <div class="input-field center col s12" style="padding: 0;">
                                <button style="padding: 0; background-color: #e15556;" class="btn waves-effect waves-light  col s12 activeBkg" type="submit"> <span class="interText">SIGNIN</span></button>
                            </div>
                        </form>
                    </div>
                    
                </div>
                </div>

                
            </div>
        </div>
    </div>    

    <!-- Compiled and minified JavaScript -->
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="js/signup.js"></script>
</body>
</html>